@tailwind base;

@tailwind components;

@tailwind utilities;

.Popup-container {
  width: 120px;
}

.Popup-count {
  // textAlign: 'center', fontSize: 21, margin: 0
  text-align: center;
  font-size: 21px;
  margin: 0;
  color: red;
}

.Popup-button-container {
  text-align: center;
}
